<form action="/create_visitor_entry_from_book" method="post">

  <div class="form-group">
    <label for="visit_date">
      Visit date
    </label>

    <input type="text" id="visit_date" name="visit_date" class="form-control" value="<%= @visitor_entry.visit_date %>">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="hidden" name="book_id" value="<%= @book.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create visitor entry
  </button>
</form>
