<form action="/create_photo" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="img">
      Img
    </label>

    <input type="file" id="img" name="img" class="form-control">
  </div>

  <div class="form-group">
    <label for="loc">
      Loc
    </label>

    <input type="text" id="loc" name="loc" class="form-control" value="<%= @photo.loc %>">
  </div>

  <input type="hidden" name="book_id" value="<%= @book.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create photo
  </button>
</form>
