<h1>
  Add a new book
</h1>


<hr>

<form action="/create_book" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="author_id">
      Author
    </label>

    <%= select_tag(:author_id, options_from_collection_for_select(User.all, :id, :email, @book.author_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="publish_date">
      Publish date
    </label>

    <input type="text" id="publish_date" name="publish_date" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create book
  </button>
</form>

<hr>

<a href="/books">
  Go back
</a>
