<h1>
  Edit visitor entry #<%= @visitor_entry.id %>
</h1>

<hr>

<!-- Form visitor_entry start -->
<form action="/update_visitor_entry/<%= @visitor_entry.id %>" method="post">
<!-- Form visitor_entry end -->

  <!-- Label and input for visit_date start -->
  <div class="form-group">
    <label for="visit_date">
      Visit date
    </label>

    <!-- Input for visit_date start -->
    <input type="text" id="visit_date" name="visit_date" class="form-control" value="<%= @visitor_entry.visit_date %>">
    <!-- Input for visit_date end -->
  </div>
  <!-- Label and input for visit_date end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for book_id start -->
  <div class="form-group">
    <label for="book_id">
      Book
    </label>

    <!-- Input for book_id start -->
    <%= select_tag(:book_id, options_from_collection_for_select(Book.all, :id, :name, @visitor_entry.book_id), :class => "form-control") %>
    <!-- Input for book_id end -->
  </div>
  <!-- Label and input for book_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update visitor entry
  </button>
</form>

<hr>

<a href="/visitor_entries">
  Go back
</a>
