<h1>
  Edit visitor entry #<%= @visitor_entry.id %>
</h1>

<hr>

<form action="/update_visitor_entry/<%= @visitor_entry.id %>" method="post">

  <div class="form-group">
    <label for="visit_date">
      Visit date
    </label>

    <input type="text" id="visit_date" name="visit_date" class="form-control" value="<%= @visitor_entry.visit_date %>">
  </div>


  <div class="form-group">
    <label for="book_id">
      Book
    </label>

    <%= select_tag(:book_id, options_from_collection_for_select(Book.all, :id, :name, @visitor_entry.book_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update visitor entry
  </button>
</form>

<hr>

<a href="/visitor_entries">
  Go back
</a>
