<!-- Validation failure messages -->
<% if @visitor_entry.present? %>
  <% if @visitor_entry.errors.any? %>
    <% @visitor_entry.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new visitor entry
</h1>


<hr>

<!-- Form visitor_entry start -->
<form action="/create_visitor_entry" method="post">
<!-- Form visitor_entry end -->

  <!-- Label and input for visit_date start -->
  <div class="form-group">
    <label for="visit_date">
      Visit date
    </label>

    <!-- Input for visit_date start -->
    <input type="text" id="visit_date" name="visit_date" class="form-control" value="<%= @visitor_entry.visit_date %>">
    <!-- Input for visit_date end -->
  </div>
  <!-- Label and input for visit_date end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for book_id start -->
  <div class="form-group">
    <label for="book_id">
      Book
    </label>

    <!-- Input for book_id start -->
    <%= select_tag(:book_id, options_from_collection_for_select(Book.all, :id, :name, @visitor_entry.book_id), :class => "form-control") %>
    <!-- Input for book_id end -->
  </div>
  <!-- Label and input for book_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create visitor entry
  </button>
</form>

<hr>

<a href="/visitor_entries">
  Go back
</a>
